.people {
  display: block;
  overflow: auto;
  flex: 1 1 auto;
  header {
    font-size: 4rem;
    border-bottom: 1px solid #EEEEEE;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
